@font-face {
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: "Open Sans Semibold";
	src: url(../fonts/OpenSans-Semibold.ttf);
}

@font-face {
	font-family: "Open Sans Bold";
	src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
	font-family: Raleway;
	src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
	font-family: "Raleway Light"
	src: url(../fonts/Raleway-Light.ttf);
}

@font-face {
	font-family: "Raleway Bold";
	src: url(../fonts/Raleway-Bold.ttf);
}