@import url(reset.css);
@import url(fonts.css);

h1 {
	font: 94px "Raleway Bold", sans-serif;
	color: #fff;
}

h2 {
	font: 36px Raleway, sans-serif;
	color: #212121;
}

h3 {
	font: 20px "Open Sans Bold", sans-serif;
	color: #333;
}

h4 {
	font: 14px "Open Sans Semibold", sans-serif;
	color: #212121;
}

h5 {
	font: 14px "Open Sans Bold", sans-serif;
	color: #fff;
}

h6 {
	font: 16px "Raleway Light", sans-serif;
	color: #fff;
}

p {
	font: 14px "Open Sans", sans-serif;
	color: #86878b;
}

a {
	font: 14px "Open Sans Semibold", sans-serif;
	color: #fff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

label {
	font: 15px "Open Sans Bold", sans-serif;
	color: #fff;
}

.left {
	float: left;
	display: block;
}

.right {
	float: right;
	display: block;
}

.button {
	padding: 9px 23px;
	font-size: 15px;
	border-radius: 2px;
	background: #ff8b38;
	display: inline-block;
}

.submit-button {
	font: 15px "Open Sans Semibold", sans-serif;
	color: #fff;
	background: #ff9b51;
}

.transparent-button {
	padding: 9px 30px;
	border: 2px solid #f5f5f5;
	font-size: 15px;
	display: inline-block;
}

.bubble {
	box-sizing: content-box;
	width: 100%;
	height: 130px;
	position: relative;
	border: none;
	border-radius: 3px;
	text-overflow: ellipsis;
	background: #f5f5f5;
	padding: 20px 12px;
	padding-bottom: 0;
	margin-bottom: 22px;
}

.bubble::before {
	box-sizing: content-box;
	position: absolute;
	content: "";
	top: 100%;
	left: 25px;
	border: 10px solid rgba(0,0,0,0);
	border-top: 15px solid #f5f5f5;
	border-bottom: 0 solid;
	text-overflow: ellipsis;
}

.navbar-content, .header-content,
.brand-content, .tabs-area, 
.sublist-content, .picture-section-content,
.process-content, .pricing-content,
.testimonials-content, .custom-section-content  {
	min-width: 960px;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 10px;
}

/*navbar*/
.navbar {
	height: 70px;
	background: #000;
}

.navbar-content {
	padding-top: 21px;
}

.logo {
	height: 27px;
	width: 79px;
	float: left;
}

.navbar-menu {
	float: right;
	padding-top: 4px;
}

.navbar-menu ul li {
	float: left;
	padding-left: 45px;
}

/*header*/
.header {
	background: url(../images/header_bg.jpg) no-repeat center center;
	background-size: cover;
	overflow: hidden;
	padding-top: 110px;
	padding-bottom: 145px;
}

.header-description {
	width: 516px;
	float: left;
}

.header-description  img, .header-description h2 {
	margin-bottom: 33px;
	color: #fff;
}

.header-description h6 {
	width: 460px;
	display: block;
	margin-bottom: 30px;
}

.header-description .transparent-button {
	margin-top: 10px;
}

.signup {
	float: right;
	background: url(../images/form_bg.png) no-repeat;
	margin-top: 30px;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);
	background: #fff;
}

.signup input[type = "text"], .signup input[type = "password"] {
	font: 14px "Open Sans", sans-serif;
	color: #bdbdbd;
	margin: 40px auto;
	width: 261px;
	padding: 5px 15px;
	display: block;
	border: 1px solid #fbfbfb;
	border-top: none;
	border-bottom-color: #d6d6d6;
}

.signup h3 {
	padding: 13px 54px;
	border: 1px solid #f5f5f5;
	border-radius: 3px 3px 0 0;
	background: #f5f5f5;
}

.signup h3 span {
	color: #ff8b38;
}

.signup .submit-button {
	padding: 17px 139px;
	border: 1px solid #ff9b51;
	border-radius: 0 0 3px 3px;
}

/*brand*/
.brand {
	overflow: hidden;
	padding: 17px 0;
}

.description {
	float: left;
	display: block;
	padding-right: 739px;
	width: auto;
}

.brand-menu {
	float: right;
	display: block;
	margin-top: -57px;
}

.brand-menu ul li{
	float: left;
	line-height: 46px;
	text-align: center;
	height: 46px;
	margin-left: 62px;
}

.brand-menu ul li img{
	vertical-align: middle;
}

.gradient-border {
	background: linear-gradient(180deg, #b7b7b7 0%, #eaeaea 66%);
	height: 3px;
}

/*tabs*/
.tabs {
	background: #f5f5f5;
	padding-top: 145px;
	padding-bottom: 115px;
}

.tabs-area {
	position: relative;
	overflow: hidden;
}

.tabs-area input {
	position: absolute;
	z-index: 1000;
	width: 110px;
	height: 110px;
	left: 0;
	top: 0;
	opacity: 0;
}

.tabs-area #tab-2 {
	top: 111px;
}

.tabs-area #tab-3 {
	top: 222px;
}

.tabs-area label {
	background: #333;
	line-height: 110px;
	position: relative;
	padding: 0 20px;
	display: block;
	width: 70px;
	text-align: center;
	margin-bottom: 1px;
	float: left;
	clear: both;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.4);
}

.tabs-area input:hover + label {
	text-decoration: underline;
}

.tab-label-1 {
	z-index: 1;
	border-radius: 3px 3px 0 0;
}

.tab-label-2 {
	z-index: 2;
	border-radius: 0;
}

.tab-label-3 {
	z-index: 3;
	border-radius: 0 0 3px 3px;
}

.tabs-area input:checked + label {
	background: #ff8b38;
	z-index: 10px;
}

.tabs-content {
	position: relative;
	width: auto;
	z-index: 5;
	margin-left: 210px;
}

.tabs-content div {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all linear 0.3s;
	z-index: 1;
}

.tabs-content h3, .tabs-content p {
	padding-right: 400px;
}

.tabs-content h3 {
	margin-bottom: 50px;
}

.tabs-content img {
	float: right;
	margin-top: -47px;
}

.tabs-content .button {
	margin-top: 50px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.4);
}

.tabs-area input.tab-selector-1:checked ~ .tabs-content .content-1,
.tabs-area input.tab-selector-2:checked ~ .tabs-content .content-2,
.tabs-area input.tab-selector-3:checked ~ .tabs-content .content-3,
.tabs-area input.tab-selector-4:checked ~ .tabs-content .content-4 {
	z-index: 100;
	opacity: 1;
	transition: all ease-out 0.5s 0.2s;
}

/*sublist*/
.sublist {
	padding-top: 100px;
	padding-bottom: 125px;
	overflow: hidden;
}

.sublist-content .left {
	margin-top: 25px;
	margin-right: 190px;
	box-shadow: 0 15px 30px 1px rgba(0,0,0,0.4);
}

.sublist-description {
	margin-bottom: 40px;
}

.sublist-content ul li{
	background: url(../images/sublist_download.png) no-repeat;
	margin-left: 643px;
	padding-left: 65px;
}

.sublist-content ul li:first-child {
	margin-bottom: 35px;
	background: url(../images/sublist_upload.png) no-repeat;
}

.sublist-content h3, .sublist-content img,
.picture-section-content  h3, .picture-section-content img {
	margin-bottom: 25px;
}

/*picture-section*/
.picture-section {
	padding-top: 85px;
	padding-bottom: 115px;
	background: #f5f5f5;
	overflow: hidden;
}

.picture-section-description {
	margin-right: 643px;
	margin-top: 25px;
}

.picture-section-content img {
	box-shadow: 0 15px 30px 1px rgba(0,0,0,0.4);
}

/*process*/
.process {
	padding-top: 105px;
	padding-bottom: 35px;
	overflow: hidden;
}

.process-content .col {
	width: 32%;
	float: left;
}

.process-content #process-center {
	margin: 0 19px;
}

.process-content h2, .process-content h3, .process-content img,
.pricing-content h2, .pricing-content h3, .pricing-content img, 
.testimonials-content h2, .testimonials-content h3, .testimonials-content img {
	margin-bottom: 25px;
}

.process-content p, 
.pricing-content p {
	margin-bottom: 70px;
}

.process-content, 
.pricing-content,
.testimonials-content, 
.custom-section-content {
	text-align: center;
}

/*pricing*/
.pricing {
	background: #f5f5f5;
	padding-top: 100px;
	padding-bottom: 95px;
	overflow: hidden;
}

.pricing-content .col {
	width: 30%;
	float: left;
	margin-top: 35px;
}

.pricing-content #pricing-center {
	margin: 0 5%;
}

.pricing-content .col h3 {
	background: #333;
	color: #fff;
	line-height: 60px;
	margin-bottom: 1px;
}

.pricing-content .col .cost  {
	background: #333;
	color: #fff;
	height: 150px;
}

.pricing-content .col .cost h1 span {
	font-size: 35px;
}

.pricing-content .col .cost h4 {
	font-style: italic;
	color: #fff;
}

.pricing-content .col .popular {
	min-height: 5px;
	max-height: 40px;
	background: #ff8b38;
	margin-bottom: 1px;
}

.pricing-content .col .popular h5 {
	padding: 10px 0;
}

.pricing-content .col p {
	line-height: 40px;
	background: #fff;
	text-transform: uppercase;
	margin-bottom: 1px;
}

/*testimonials*/
.testimonials {
	padding-top: 105px;
	padding-bottom: 80px;
	overflow: hidden;
}

.testimonials-content p {
	margin-bottom: 50px;
}

.testimonials-content .col {
	width: 24%;
	float: left;
	text-align: left;
}

.testimonials-content .col img {
	padding-right: 15px;
	float: left;
}

.testimonials-content .col h3 {
	margin-bottom: 0;
}

.testimonials-content #testimonials-center {
	margin: 0 13%;
}

.testimonials-content .col .bubble p{
	font-style: italic;
}

/*custom-section*/
.custom-section {
	background: url(../images/custom_section_bg.jpg) no-repeat center center;
	background-size: cover;
	padding-top: 72px;
	padding-bottom: 62px;
	overflow: hidden;
}

.custom-section h2, .custom-section img, .custom-section h6 {
	color: #fff;
	margin-bottom: 25px;
}
